dataset,bipartite
ia-workplace-contacts,False
ia-contacts_hypertext2009,False
ia-contact,False
fb-forum,False
soc-sign-bitcoinotc,False
ia-enron-employees,False
ia-escorts-dynamic,True
ia-reality-call,False
ia-retweet-pol,False
ia-radoslaw-email,False
ia-movielens-user2tags-10m,True
soc-wiki-elec,False
ia-primary-school-proximity,False
ia-slashdot-reply-dir,False
ia-frwikinews-user-edits,False
